<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lzj.mapper.AccountMapper">
	<update id="decrease">
		update tb_account set money = money - ${money} where user_id = #{userId};
	</update>

	<update id="tryDecrease">
		update tb_account set money = money - ${money}, locked_money = locked_money + ${money} where user_id = #{userId};
	</update>

	<update id="confirmDecrease">
		update tb_account set locked_money = locked_money - ${money} where user_id = #{userId};
	</update>

	<update id="cancelDecrease">
		update tb_account set money = money + ${money}, locked_money = locked_money - ${money} where user_id = #{userId};
	</update>
</mapper>
 

